*{
    margin: 0;
    font-family: sans-serif;
}

/* .container{
    width: 100%;
    height: 100vh;   
} */

nav {
    margin: 2rem;
}
nav > h1{
    font-size: 2rem;
    text-align: center;
}

.main{
    width: 45rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main > h1{
    text-align: center;
    padding-top: 2rem;
}

/* Form Styling */

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    line-height: 2rem;
}

.form > label{
    text-align: center;
}

input[type= 'text']{
    margin-top: .5rem;
    width: 32rem;
    margin-left: 6.3rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}

::placeholder{
    padding-left: 1rem;
}

.site-url{
    margin-top: .5rem;
}

.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 20rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

.bookmarkResult{
    margin-top: 3.5rem;
}

.bookmarked-output{
    /* background-color: #f1f1f1; */
    display: flex;
    line-height: 3rem;
    padding-left: 3rem; 
}

.well > a{
    margin-left: 2rem;
}

.visit-btn{
    text-decoration: none;
    background-color: green;
    margin-bottom: 2rem;
    color: #fff;
    padding: 0 40px;
    border-radius: 5px;
}

.delete-btn{
    text-decoration: none;
    background-color: red;
    margin-bottom: 2rem;
    color: #fff;
    padding: 0 40px;
    border-radius: 5px;
}


/* Adding Responsiveness to the website with Media queries */

@media(max-width: 770px){
    .main{
    width: 40rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type= 'text']{
    margin-top: .5rem;
    width: 27rem;
    margin-left: 6.3rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}
.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 16rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

}

@media(max-width: 680px){
.main{
    width: 36rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type= 'text']{
    margin-top: .5rem;
    width: 24rem;
    margin-left: 5.7rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}

.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 14rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}
}

@media (max-width: 600px){
.main{
    width: 30rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type= 'text']{
    margin-top: .5rem;
    width: 20rem;
    margin-left: 5rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}

.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 11rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}
}

@media(max-width:500px){
 .main{
    width: 27rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type= 'text']{
    margin-top: .5rem;
    width: 20rem;
    margin-left: 3.4rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}

.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 9.5rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}  

}

@media(max-width: 450px){
     .main{
    width: 24rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type= 'text']{
    margin-top: .5rem;
    width: 18rem;
    margin-left: 2.8rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}

.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 8rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}   

}

@media(max-width: 400px){
 .main{
    width: 23rem;
    height: 23rem;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type= 'text']{
    margin-top: .5rem;
    width: 18rem;
    margin-left: 2.8rem;
    height: 34px;
    border: 2px solid;
    border-radius: 5px;
}

.btn{
    display: inline-flex;
    justify-content: center;
    width: 5rem;
    margin-top: 2rem;
    margin-left: 8rem; 
    padding: 15px 70px;
    color: #fff;
    background-color: blue;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}   


}